<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
        integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>Home</title>
</head>

<body>
    <div class="top-bar">
        <h1>LOGO</h1>
    </div>

    <div class="columns">
        <div class="left-column">
            <div class="nav-icons">
                <a href="/">
                    <button type="button" class="homeButton">
                        <i class="bi bi-house-door-fill" id="homeIcon"></i>
                    </button>
                </a>
                <br>
                <a href="profilepage">
                    <button type="button" class="profileButton">
                        <i class="bi bi-person-fill" id="profileIcon"></i>
                    </button>
                </a>
                <br>
                <i class="bi bi-plus-circle" id="newPostIcon"></i>
                <br>
                <br>
            </div>
            <i class="bi bi-gear-fill" id="settingsIcon"></i>
            <i class="bi bi-box-arrow-right" id="logoutIcon"></i>
        </div>

        <div class="center-column">
            <div class="text-input">
                <div class="demo-tekstilaatikko">
                    <textarea class="textarea-multiline" id="demo-multi-string" rows="3" placeholder="Text"
                        name="demo-multi-string" maxlength="140">
                                    </textarea>
                </div>
                <button type="button" class="submit" hx-post="/preview" hx-swap="beforeend" hx-target="#preview"
                    hx-include="#demo-multi-string"
                    hx-on::after-request="document.getElementById('demo-multi-string').value = ''">
                    SUBMIT
                </button>
            </div>
            <div class="feed">
                <div id="preview"></div>
            </div>
        </div>
</body>

</html>